/*********** GLOBAL STYLES *****************/

* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

/************* HEADER STYLES ****************/

#tm {
  font-size: 0.5em;
  font-weight: 100;
}

.dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #7FF360;
  display: inline-block;
  margin-left: -10px;
  margin-right: 5px;
  margin-bottom: 40px;
}

.profile-img {
  width: 55px;
  height: 65px;
  border-radius: 50%;
}

.title {
  color: #FFF;
}

.main-img,
.name {
  display: inline;
}

.name {
  color: #FFF;
}

/********** ICON STYLES **************/

.bell-icon {
  height: 50px;
  width: 50px;
}

.bell {
  fill: white;
}

.dashboard-icon,
.member-icon,
.visit-icon,
.setting-icon {
  height: 68px;
  width: 68px;
}

.nav-icon {
  padding: 5px 5px;
}

/************* GRID STYLES ***********/

.main-grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 150px repeat(5, 1fr);
}

.header {
  display: grid;
  background-color: #9487F2;
  margin-bottom: 30px;
  grid-column: 1 / 4;
}

.main-img {
  grid-column: 4 / 5;
}

.sidebar-nav {
  display: grid;
  background-color: #9487F2;
  grid-column: 1 / 2;
}
