/*********** GLOBAL STYLES *****************/

* {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
  font-size: 0.93rem;
}

/************* HEADER STYLES ****************/

#tm {
  font-size: 0.5em;
  font-weight: 100;
}

.dot {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #7FF360;
  display: inline-block;
  margin-left: -7px;
  margin-right: 5px;
  margin-bottom: 35px;
}

.profile-img {
  width: 50px;
  height: 55px;
  border-radius: 50%;
  margin: 10px 10px 0px 5px;
}

.title {
  color: #FFF;
}

.main-img,
.name {
  display: inline-block;
}

.name {
  color: #FFF;
}

/********** ICON STYLES **************/

.bell-icon {
  height: 2.3rem;
  width: 2.3rem;
  transition: all 0.2s ease-in;
}

.bell-icon:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);
}

.dashboard-icon,
.member-icon,
.visit-icon,
.setting-icon {
  height: 2.3rem;
  width: 2.3rem;
}

.nav-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

/************** SEARCH BAR AND ALERT ******************/

.search-bar {
  display: flex;
  justify-content: space-between;
}

#search {
  width: 50%;
  height: 2.85rem;
  margin: 5px 5px 0 0;
}

#close {
  float: right;
}

.alert {
  background-color: #6A72AF;
  padding: 15px;
  margin: 10px 10px;
  border-radius: 5px;
  color: #FFFFFF;
}

#close:hover {
  cursor: pointer;
  color: #B2B2B2;
}


/************* MOBILE GRID STYLES **************/

.main-grid {
  display: grid;
  max-width: 100%;
  grid-template-rows: 75px 75px 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #7E87C7;
  padding: 5px;
}

.sidebar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6D6CA0;
  padding: 0px 5px;
}

/* .social {
  display: flex;
} */

#twitter,
#facebook,
#gplus {
  color: #6A72AF;
}

#tweet,
#face,
#google {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #6A72AF;
  padding: 10px 10px;
  overflow: visible;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 100px;
  border: 1px solid #DADADA;
  padding: 15px;
  background-color: #F1F1F1;
}

.stats {
  display: flex;
  justify-content: space-around;
}

/*************** MOBILE CHART STYLES *********************/

.chart-container {
  margin-right: 20px;
}

.barChart-container {
  padding: 10px 10px 10px 30px;
  margin-right: 20px;
}

/****************** MOBILE MEMBER STYLES ******************/

.new-members {
  display: flex;
  flex-direction: column;
}

.card-members {
  display: flex;
  padding: 10px;
  margin: 1rem 0.4rem;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 45px 10px 25px;
}

.joined {
  margin-left: auto;
}

.email {
  color: #6A72AF;
}
.email:hover {
  cursor: pointer;
  opacity: 0.7;
}

.member-profile {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

/************ MEDIA QUERIES ****************/

/* TABLET */
@media (min-width: 768px) {

  /* TABLET ICON STYLES */
  .dashboard-icon,
  .member-icon,
  .visit-icon,
  .setting-icon {
    height: 3rem;
    width: 3rem;
  }

  /* TABLET GRID STYLES */
  .main-grid {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 100px 100px 1fr;
  }

  .header {
    grid-column: 1 / 3;
  }

  .sidebar-nav {
    grid-column: 1 / 3;
    padding: 0px 10px;
    /*grid-row: 2 / 3; */
  }
  .main-traffic {
    grid-column: 1 / 3;
  }

  .daily-traffic {
    grid-column: 1 / 2;
  }

  .mobile-traffic {
    grid-column: 2 / 3;
  }

  .social {
    grid-column: 1 / 3;
  }

  .new-members {
    grid-column: 1 / 2;
  }

  .activity {
    grid-column: 2 / 3;
  }

  .message {
    grid-column: 1 / 2;
  }

  .settings {
    grid-column: 2 / 3;
  }

}

/* DESKTOP VIEW */
@media (min-width: 1024px) {
  .dot {
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #7FF360;
    display: inline-block;
    margin-left: -12px;
    margin-right: 5px;
    margin-bottom: 40px;
  }

  /* .search-bar {
    display: flex;
    justify-content: space-between;
  }

  #search {
    width: 40%;
    height: 3em;
  } */

  /******** ICON STYLES **********/
  .bell-icon {
    height: 40px;
    width: 40px;
  }

  .dashboard-icon,
  .member-icon,
  .visit-icon,
  .setting-icon {
    height: 4.5rem;
    width: 4.5rem;
  }

/* .twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6A72AF;
  border: 2px solid red;
} */

/* same as mobile styles - change or delete? */
  #tweet,
  #face,
  #google {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #6A72AF;
    padding: 15px 15px;
    overflow: visible;
  }

  .card {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 160px;
    border: 1px solid #DADADA;
    padding: 35px 0px 35px 35px;
    background-color: #F1F1F1;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .numbers {
    font-size: 40px;
    margin: 0 auto;
    color: #ADADAD;
  }

  .nav-icon {
    padding: 15px;
    margin-bottom: 15px;
  }

  .stats {
    display: flex;
    justify-content: space-between;
  }

  /************* GRID *************/

  .main-grid {
    /* display: grid;
    max-width: 100%; */
    grid-template-columns: 80px 1fr 1fr;
    grid-template-rows: 80px 1fr;
  }

  .header {
    background-color: #9487F2;
    grid-column: 1 / 4;
  }

  .main-img {
    grid-column: 4 / 5;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    padding: 20px;
  }


  .main-traffic {
    grid-column: 2 / 4;
  }

  .daily-traffic {
    grid-column: 2 / 3;
  }

  .mobile-traffic {
    grid-column: 3 / 4;
  }

  .social {
    grid-column: 2 / 4;
    margin: 0px 15px;
  }

  .new-members {
    grid-column: 2 / 3;
  }

  .activity {
    grid-column: 3 / 4;
  }

  .message {
    grid-column: 2 / 3;
  }

  .settings {
    grid-column: 3 / 4;
  }
}
